
        a {
            text-decoration: none;
            font-size: 20px;
            color: var(--color-main);
        }
    

.title {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: var(--color-main)
 
}
.content {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 80px;
}

.card {
  background-color: #fdeeee;
  border: 1px solid #f4bcbc;
  border-radius: 20px;
  padding: 70px;
  max-width: 520px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  margin: auto;
}

.personna{

  padding: auto;
  margin: auto;
  text-align: center;

  p{
    
    color: #333;
  }
}

.personna-photo{
    display: flex;
    justify-content: center;
    
}

.card-fonctionnement{
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #fdeeee;
  border: 1px solid #f4bcbc;
  border-radius: 30px;
  padding: 100px;
  max-width: 800px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  margin: auto;
  

}


.services {
  
  text-align: center;

}

.services-intro {
  max-width: 700px;
  margin: auto;
  color: #333;
  font-size: 16px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin:auto;
}

.service-card {
  background: rgba(255, 255, 255, 0.35);
  border: 2px solid #ff7f7a;
  border-radius: 20px;
  padding: 48px 32px 32px;
  position: relative;
  text-align: center;

 p {
  font-size: 18px;
  color: #333;
}
}

.Maquette{
  margin-top: 200px;
  display: contents;
  text-align: center;
}



.icon{
  text-align: center;
  float: left;
  color: var(--color-main);
  font-size: 20px;
 
}


.prototype{
  text-align: center;
}