/* Le code CSS spécifique à la page de documentation */
 nav {
        display: flex;
        gap: 160px;
        margin-top: 40px;
        position: absolute;
        inset: 0 auto auto 50%;
        transform: translateX(-50%);
        border-radius: 20px;
        background-color: var(--color-white);
        padding: 12px 180px;
        z-index: 1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        a {
            text-decoration: none;
            font-size: 20px;
     
            color: #FF8D8D;
        }
    }

.title {
    margin-top: 200px;
  text-align: center;
  font-size: 48px;
  color: #f08c8c;
  margin-bottom: 10px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.card {
  background-color: #fdeeee;
  border: 1px solid #f4bcbc;
  border-radius: 20px;
  padding: 40px;
  max-width: 520px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  margin: 20px;
}

.personna{

    h2{
         margin-top: 200px;
         text-align: center;
         font-size: 48px;
         margin-bottom: 10px;
         color: #FF8D8D;
    }

    
}

.personna-photo{
    display: flex;
    justify-content: center;
}

.card-fonctionnement{
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #fdeeee;
  border: 1px solid #f4bcbc;
  border-radius: 20px;
  padding: 40px;
  max-width: 520px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  margin: auto;

}


.services {

  height: 200px;

  h2{
  color: #ff7f7a;
  font-size: 36px;
  margin-bottom: 26px;
  text-align: center;
  }

}

.services-intro {
  max-width: 700px;
  margin: auto;
  color: #333;
  font-size: 16px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.service-card {
  background: rgba(255, 255, 255, 0.35);
  border: 2px solid #ff7f7a;
  border-radius: 20px;
  padding: 48px 32px 32px;
  position: relative;

   h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #ff7f7a;
  font-size: 18px;
}

 p {
  font-size: 14px;
  color: #333;
}
}

.Maquette{
  height:1000px;
  margin: auto;
  align-items: center;
  padding:  300px;

  h2{
    
  color: #ff7f7a;
  font-size: 36px;
  margin-bottom: 26px;
  text-align: center;
  


  }
  
}