/* section */
header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

   

        a {
            text-decoration: none;
            font-size: 20px;
            color: var(--color-main);
        }
   

    #heroContent {
        /* flex: 1; */
        width: 40%;

        .btn {
            display: flex;
            gap: 32px;

            a {
                border-radius: 20px;
                padding: 20px 40px;
                text-decoration: none;
                background-color: var(--color-main);
                color: var(--color-white);
            }

            #download {
                border: var(--color-main) 2px solid;
                border-radius: 20px;
                padding: 20px 40px;
                text-decoration: none;
                background-color: var(--color-white);
                color: var(--color-main);
            }
        }

    }

    #heroGallery {
        /* flex: 1; */
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        gap: 1em;

        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            animation: spin 36s infinite linear;

            .columnPic {
                width: 100%;
                height: 15em;
                border-radius: 4px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

            }

            .firstPic {
                background-image: url(assets/Yoga.png);
            }
        }
    }
}

/* pourquoi */
#why {

    .leftBlock {
        .containerCard {
            gap: 32px;

            .card {
                max-width: 160px;

                .cardWhy1 {
                    width: 100%;
                    height: 8em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/why/card1.png);
                }

                .cardWhy2 {
                    width: 100%;
                    height: 8em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/why/card2.png);
                }

                .cardWhy3 {
                    width: 100%;
                    height: 8em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/why/card3.png);
                }
            }
        }
    }

    .rightBlock {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(assets/groupe-mamans.jpg);
    }
}

#solutions {
    overflow: hidden;
    .cardContainer{
        margin-top: 80px;
    }
    
}

#partners {
    background-color: #FF8D8D;
    padding: 40px;

    .container {
        display: flex;
        gap: 160px;
        justify-content: center;
        align-items: center;

        h2 {
            color: var(--color-white);
        }

        .assoLogo1 {
            width: 200px;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(assets/groupe.png);
        }

        .assoLogo2 {
            width: 200px;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(assets/Solidaires.png);
        }

        .assoLogo3 {
            width: 200px;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(assets/Espoirmamans.png);
        }
    }
}

#engagements {


}

#vouch {
    
        .card {
            max-width: 340px;
            padding: 20px;
            border-radius: 20px;

            .info {
                display: flex;
                align-items: center;
                gap: 12px;

                .identityPicture {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url(assets/Julie.png);
                }
            }
        }
    
}

#join {

   

        .leftBlock {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;


            .joinUs {
                display: flex;
                gap: 40px;
                flex-direction: column;

                .joinUsMessage {
                    display: flex;
                    align-items: center;
                    gap: 40px;

               
                }
            }
        }
    
}

.name{
        font-weight: 600;
    margin-top: 19px;
}
footer {
 
  
}