/* section */
header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;        
    overflow-y: hidden;
    padding: 4vw;

    #heroContent {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .galerie {
                display: flex;
        width: 50%;
        justify-content: left;
        z-index: -1;
        gap: 4vw;
        padding-left: 7vw;
    }

    .heroGallery {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        gap: 1em;

        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            animation: spin 25s infinite linear;
        }
    }
}

/* #why {

} */

#solutions {
    overflow: hidden;
}

#partners {
    padding: 64px;
            line-height: 1;
    .container {
        gap: 80px;
    }
}

#engagements {

    .card {
        flex-direction: row;
        width: 80%;
        text-align: left;
        gap: 32px;
    }
}

#vouch {
    .name {
        font-weight: 600;
        margin-top: 19px;
    }
}

#join {
    .leftBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .joinUs {
            display: flex;
            gap: 40px;
            flex-direction: column;

            .joinUsMessage {
                display: flex;
                align-items: center;
                gap: 40px;
            }
        }
    }
}