/* Variables couleurs */
:root {
    --color-white: #fff9f9;
    --color-main: #FF8D8D;
    --colorTest: #b16060;
}

/* reinitialisation */
* {
    margin: 0;
    box-sizing: border-box;
}

/* style global */
html{
    font-size: 16px;
}
body {
    background-color: var(--color-white);
    color: #280000;
    font-family: sans-serif;
    position: relative;
}
nav{
             display: flex;
        gap: 64px;
        position: absolute;
        padding: 24px;
        inset: 0 0 auto auto;
        background-color: var(--color-white);
        width: 100vw;
        z-index: 1;
        box-shadow: 0 4px 15px #00000012;

}

h1,h2{
    font-family: "Yrsa", serif;
}
h1 {
    font-size: 48px;
    margin-bottom: 16px;
    color: var(--color-main);
}

h2 {
    font-size: 40px;
    margin-bottom: 12px;
    color: var(--color-main);
    color: var(--colorTest);
        font-weight: 500;
}

h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--color-main);
    color: var(--colorTest)
    ;
        font-weight: 400;
}

.mt-64px{
    margin-top: 64px !important;
}
a {
    display: inline-block;
}
.bg-rose{
    background-color: #f8e5e5;
}
/* container */
.container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row{
    flex-direction: row;
}


.container.small {
    max-width: 800px;
}

.container.flex {
    display: flex;
    gap: 80px;
}

section{
    padding: 120px 24px;
    position: relative;
}
img.circleBg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 53%;
    transform: translateY(-50%);
    opacity: .3;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;    
    justify-content: center;
}
/* block with same width */
.leftBlock,
.rightBlock {
    flex: 1;
}

/* card */

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 300px;
    padding: 8px;
    align-items: center;

}
.cardImg{

    margin-bottom: 12px;
    width: 66%;
}
/* class */
.d-none {
    display: none;
}


/* class animation */
@keyframes spin {
    from {
        translate: 0 0;
    }

    to {
        translate: 0 -100%;
    }
}



/* engagement */
#engagements{
    .cardContainer{
        flex-direction: column;
        .card{
            flex-direction: row;
            width: 100%;
            text-align: left;
            gap: 32px;
        }
    }
}